# ignore all metadata
*/.metadata
# ignore all recommenders
*/.recommenders
# ignore .settings
*/*/.settings
# ignore bin
*/*/bin
# ignore .classpath
*/*/.classpath
# ignore .project
*/*/.project
# ignore .class files
*/*/src/main/java/*.class
*/*/src/main/java/*/*.class
# ignore .dat and .ser files
*/*/src/main/resources/*.ser
*/*/src/main/resources/*.dat